<template>
        <router-view></router-view>
</template>

<script>
//    import Header from './components/dashboard/Header.vue'
//    import Footer from './components/dashboard/Footer.vue';


export default {
    components: {
        appHeader: Header,
        appFooter: Footer,
    },
}
</script>

<style>
        /*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic');*/
        /*@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=cyrillic');*/
</style>